.nav{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90vw;
    height: 8vh;
}
#com{
    margin-left: 20px;
    
}
#list{
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-around;
    width: 14vw;
    font-size: .5em;
    margin-right: 20px
}
.banner{
    display: flex;
    /* border: red 1px solid; */
    width: 90vw;
    height: 35vh;
    justify-content: center;
    align-items: center;
    color: yellow;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.box-container{
    display: flex;
    /* border: 1px blue solid; */
    width: 90vw;
    height: 26vh;
    align-items: center;
    justify-content: space-around;
}
#box1{
    display: flex;
    /* border: 1px lightskyblue solid; */
    background-color: aquamarine;
    height: 21vh;
    width: 19vw;
    border-radius: 8%;
}
#box2{
    display: flex;
    /* border: 1px lightskyblue solid; */
    background-color: aquamarine;
    height: 21vh;
    width: 19vw;
    border-radius: 8%;
}
#box3{
    display: flex;
    /* border: 1px lightskyblue solid; */
    background-color: aquamarine;
    height: 21vh;
    width: 19vw;
    border-radius: 8%;
}
.container-2{
    display: flex;
    /* border: 1px blue solid; */
    width: 90vw;
    height: 29vh;
    justify-content: space-evenly;
    align-items: center;

}
#orange-box1{
    display: flex;
    background-color: orange;
    height: 21vh;
    width: 35vw;
}
#orange-box2{
    display: flex;
    background-color: orange;
    height: 21vh;
    width: 35vw;
}
.content-container{
    display: flex;
    /* border: red 1px solid; */
    width: 90vw;
    height: 25vh;
    align-items: center;
    justify-content: space-around;
}
#pic{
    height: 18vh;
    width: 11vw;
}
#text{
    height: 18vh;
    width: 20vw;
    font-size: .4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#footer{
    display: flex;
    height: 6vh;
    width: 90vw;
    background-color: rgb(3, 3, 51);
}